@import "fonts.styl"

azul = #22BCE0
gris_oscuro = #444
gris_texto = #7A7A7A
naranja = #FF7F00
verde =#54B551 
blanco= #FFF
negro =#222
azul_oscuro = #068CE3
gris =#EEE
principiante = #9CC364
intermedio = #EFDB52
avanzado = #EF8E26
experto = #EB4949

.clearfix
	clear both
body
	background #333
	color blanco

header
	top 50px
	position relative
	text-align: center
	display block
	background: #333
	padding 5em 0
	.fondo 
		opacity 0.3
		position absolute
		top 0
		height 100%
		width: 100%
		img 
			opacity 0.8
			height 100%
			display block
			width: 100%
	h1 
		margin: 0
		font-size: 1.7em
		color blanco
		text-shadow: 1px 1px 1px black
	h3 
		padding 1em 0
		margin: 0 25%
		font-size: 1.2em
		color blanco
		text-shadow: 1px 1px 1px black
	figure
		margin 0
		height: 100%
		width: 100%
		img
			height 180px
			width: 180px
			
.principal-cursos
	top 50px
	background #EEE
	position relative
	h2,h4
		margin 0
	.principal-left
		position absolute
		background #EEE
		width: 20%
		height 100%
		top 50px
		.titulo
			text-align center
		.recomendaciones
			position relative
			display block
			background naranja
			text-align left
			padding 0.5em 0
			margin 0.5em 0
			&:hover
				background azul_oscuro
			.recomendacion-right
				position relative
				top 0
				display block
				h2 
					font-size: 1.2em
					a 
						text-decoration none
						color blanco	
	.principal-right
		position absolute
		text-align center
		background #EEE
		width: 80%
		left 20%
		.curso-destacado
			margin 3em
			position relative
			text-align center
			background azul_oscuro
			figure
				position relative
				margin 0
				height: 100%
				width: 100%
				img
					height 100%
					width: 100%
			.footer-curso
				background rgba(0, 0, 0, .75)
				position absolute
				bottom: 0
				display block
				width: 100%
				p
					text-align left
					a 
						text-align left
						font-size: 1.2em
						text-decoration none
						color blanco
						text-shadow 1px 2px 1px negro
				.destacado
					margin 0
					height 100%
					background red
					float right
					a 
						padding 1em
				.texto-principal
					font-size 2em
					margin 0 2em
				.texto-secundario
					font-size: 1.2em
					margin 0 2em	
			.tag 
				position absolute
				top 0
				margin 0
				text-align left
				z-index: 8
				a 
					background rgba(255,255,0,0.8)
					font-size: 2em
					padding 0 2em
					color blanco
					text-shadow 1px 1px 1px negro
					text-decoration: none
					box-shadow 1px 1px 2px black
					&:hover
						background azul_oscuro
		.curso-destacado-secundario
			display inline-block
			position relative
			width: 30%
			text-align center
			background azul_oscuro
			figure
				position relative
				margin 0
				height: 100%
				width: 100%
				img
					height 100%
					width: 100%
			.footer-curso
				background rgba(0, 0, 0, .75)
				position absolute
				bottom: 0
				display block
				width: 100%
				p
					text-align left
					a 
						text-align left
						font-size: 1em
						text-decoration none
						color blanco
						text-shadow 1px 2px 1px negro
				.destacado
					margin 0
					height 100%
					background red
					float right
					a 
						padding 1em
				.texto-principal
					font-size 1.1em
					margin 0 1em	
			.tag 
				position absolute
				top 0
				margin 0
				text-align left
				z-index: 8
				a 
					background rgba(255,255,0,0.8)
					font-size: 1.2em
					padding 0 2em
					color blanco
					text-shadow 1px 1px 1px negro
					text-decoration: none
					box-shadow 1px 1px 2px black
					&:hover
						background azul_oscuro
		.secundario-curso
			display inline-block
			width: 30%
			position relative
			text-align center
			background azul_oscuro
			figure
				position relative
				margin 0
				height: 100%
				width: 100%
				img
					height 100%
					width: 100%
			.footer-curso
				background rgba(0, 0, 0, .75)
				position absolute
				bottom: 0
				display block
				width: 100%
				p
					text-align left
					a 
						font-weight: bold
						text-align left
						margin 0 0 0 1em
						text-decoration none
						color blanco
						text-shadow 1px 2px 1px negro
					span 
						float right
						a 
							font-size: 1em
							margin 0 1em
			.tag 
				position absolute
				top 0
				margin 0
				text-align left
				z-index: 8
				a 
					background rgba(255,255,0,0.8)
					padding 0 2em
					font-size: 1.4em
					color blanco
					text-shadow 1px 1px 1px negro
					text-decoration: none
					box-shadow 1px 1px 2px black
					&:hover
						background azul_oscuro
		.principal-curso
			margin 3em
			position relative
			text-align center
			background azul_oscuro
			figure
				position relative
				margin 0
				height: 100%
				width: 100%
				img
					height 100%
					width: 100%
			.footer-curso
				background rgba(0, 0, 0, .75)
				position absolute
				bottom: 0
				display block
				width: 100%
				p
					text-align left
					a 
						text-align left
						font-size: 1.2em
						text-decoration none
						color blanco
						text-shadow 1px 2px 1px negro
				.texto-principal
					font-size 2em
					margin 0 2em
				.texto-secundario
					font-size: 1.2em
					margin 0 2em
											
				
			.tag 
				position absolute
				top 0
				margin 0
				text-align left
				z-index: 8
				a 
					background rgba(255,255,0,0.8)
					font-size: 2em
					padding 0 2em
					color blanco
					text-shadow 1px 1px 1px negro
					text-decoration: none
					box-shadow 1px 1px 2px black
					&:hover
						background azul_oscuro
						
.links
	background rgba(0, 0, 0, .2)
	position fixed
	top 0
	right 0
	z-index: 10
	left: 0
	a
		text-shadow: 1px 2px 1px negro
		text-decoration: none
		text-align: center
		height: 100%
		color blanco
		float right
		display inline-block
		box-sizing border-box
		padding: 1em
		&:hover
			background azul_oscuro
	.enlace a 
		margin 40% auto	
		width: 70%
	.logo
		float left
		&:hover
			background transparent
	.login
		background: naranja
		opacity 